<section class="editor">

    <div class="editor__content">
        <h2 class="editor__title">Revolutionary editor</h2>
        <p class="editor__text">
            Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
        </p>


        <div class="editor__github">
            
            <div class="github-button">
                <button class="github-btn"><i class='bx bx-show-alt'></i> Watch</button>
                <a href="#" class="github-link">1,397</a>
            </div>
            

            <div class="github-button">
                <button class="github-btn"><i class='bx bxs-star' ></i> Star</button>
                <a class="github-link" href="#">21,038</a>
            </div>

            <div class="github-button">
                <button class="github-btn"><i class='bx bx-git-repo-forked'></i> Fork</button>
                <a class="github-link" href="#">4,391</a>
            </div>

        </div>
        
    </div>
    
</section>