<section class="features">
    <div class="features__left">

        <h2 class="features__title-media">&lt;Here is what you get&gt;</h2>

        <ul class="features__list">
            <li class="features-item">
                <img src="../img/icon1-features.svg" alt="icon1-features" width="110" height="64">
                <div class="features-item-content">
                    <h4 class="features-item-title">Creatred to Make The Web Better</h4>
                    <p class="features-item-text">
                        Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate
                        dignissim. Sed id metus id quam auctor molestie eget ut augue.
                    </p>
                </div>
            </li>

            <li class="features-item">
                <img src="../img/icon2-features.svg" alt="icon2-features" width="90" height="80">
                <div class="features-item-content">
                    <h4 class="features-item-title">Creatred to Make The Web Better</h4>
                    <p class="features-item-text">
                        Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate
                        dignissim. Sed id metus id quam auctor molestie eget ut augue.
                    </p>
                </div>
            </li>

            <li class="features-item">
                <img src="../img/icon3-features.svg" alt="icon3-features" width="60" height="84">
                <div class="features-item-content">
                    <h4 class="features-item-title">Creatred to Make The Web Better</h4>
                    <p class="features-item-text">
                        Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate
                        dignissim. Sed id metus id quam auctor molestie eget ut augue.
                    </p>
                </div>
            </li>

            <li class="features-item">
                <img src="../img/icon4-features.svg" alt="icon4-features" width="71" height="71">
                <div class="features-item-content">
                    <h4 class="features-item-title">Creatred to Make The Web Better</h4>
                    <p class="features-item-text">
                        Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate
                        dignissim. Sed id metus id quam auctor molestie eget ut augue.
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="features__right">
        <h2 class="features__title">&lt;Here is what you get&gt;</h2>
        <img class="features__img" src="../img/features-right.png" alt="fork-img" width="700" height="520">
    </div>
</section>