<header class="header">
    <nav class="header__navbar">
        <div class="header__navbar-after-column">
        <div class="header__logo-block">
        <a class="header__logo" href="#">
            <div class="header__logo-img"></div>
            <span class="header__logo-text">ForkIO</span>
        </a>
    </div>
    <div class="header__item-block">
        <ul class="header__item">
            <li class="header__list"><a href="#" class="header__link">Overview</a></li>
            <li class="header__list"><a href="#" class="header__link">About Fork</a></li>
            <li class="header__list"><a href="#" class="header__link">Buying Options</a></li>
            <li class="header__list"><a href="#" class="header__link">Support</a></li>
        </ul>
    </div>
        <div class="navbar-btn-block">
        <li class="header__list"><a href="#" class="header__link navbar-btn">Buy Now</a></li>
    </div>
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</div>
        <ul class="header__item-block-hidden">
            <li class="header__list"><a href="#" class="header__link">Overview</a></li>
            <li class="header__list"><a href="#" class="header__link">About Fork</a></li>
            <li class="header__list"><a href="#" class="header__link">Buying Options</a></li>
            <li class="header__list"><a href="#" class="header__link">Support</a></li>
        </ul>
   
    </nav>
    <div class="header__titles">
        <h1 class="header__title">Fork App</h1>

        <p class="header__text">A real gamechanger in the world of web development</p>
        <p class="header__text-os-version">v. 2.8 For Mac and Windows</p>
    </div>
    

    <div class="header__empty-block"></div>
            <div class="header__btn-download">
                <a class="header__btn" id="download-btn" href="#">Download For Free Now
                </a>
                <p class="header__link-trial" onclick="alert('Thank you!!! You have 30-Days Trial Period!!!')">Unlimited
                    30-Days Trial Period</p>
            </div>


</header>