@import "./_reset.scss";
@import "./_fonts.scss";
@import "./_mixins.scss";
@import "./_variables.scss";
@import "./_media-queries.scss";


body .scale {
    max-width: 968px;
    margin: 0;
    padding: 0;
}

.scale .main-section{
    max-width: 968px;
    margin: 0;
    padding: 0;
}


.scale .header__btn{
    display: none;
}

.main-section {
    width: 1380px;
    margin: auto;
    padding: 0 10px;

    .header {
        background-image: url(../img/header-bg.png);
        height: 800px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 66px;

        &__empty-block {
            height: 460px;
        }

        &__navbar {
            max-width: 1200px;
            margin: auto;
            padding: 30px 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
        }

        &__navbar-after-column {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        &__logo-img {
            background-image: url(../img/logo.png);
            width: 43px;
            height: 41px;
        }

        &__logo {
            display: flex;
            align-items: center;
            @include font-Lato;
            font-weight: 700;
            font-size: 24px;
            line-height: 16px;
            color: $header-text-color;
            text-transform: uppercase;
            gap: 17px;
            text-decoration: none;
            cursor: pointer;
        }
        &__logo:hover .header__logo-img {
            display: block;
            background-image: url(../img/logo-hover.png);
            transition: 0.5s;
        }
        &__logo:hover {
            transition: 0.5s;
            color: #fff;
        }

        &__item-block {
            display: flex;
            margin-left: 300px;
        }

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 48px;
        }

        &__item-block-hidden {
            display: none;
        }

        &__list {
            list-style-type: none;
        }

        &__link {
            text-decoration: none;
            color: $header-text-color;
            @include font-Montserrat;
            font-weight: 700;
            font-size: 16px;
            line-height: 17px;
        }

        &__link:hover {
            transition: 0.5s;
            color: #fff;
        }

        .navbar-btn-block {
            width: auto;
            display: flex;
            align-items: center;
        }
        .navbar-btn {
            @include font-Montserrat;
            font-weight: 700;
            font-size: 16px;
            line-height: 17px;
            padding: 7px 30px;
            background-color: $header-text-color;
            border-radius: 40px;
            color: #fff;

            border: 1px solid transparent;
        }
        .navbar-btn:hover {
            background-color: #fff;
            color: $header-text-color;
            transition: 0.5s;
            border: 1px solid $header-text-color;
        }

        &__title {
            @include font-Montserrat;
            font-weight: 700;
            font-size: 82px;
            line-height: 82px;
            text-align: center;
            color: #fff;
            margin: 60px 0 0;
        }

        &__text {
            @include font-Lato;
            font-weight: 400;
            font-size: 30px;
            line-height: 30px;
            margin: 19px 0;
            text-align: center;
            color: $header-text-color;
            text-transform: capitalize;
        }

        &__text-os-version {
            @include font-Montserrat;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            text-align: center;
            text-transform: uppercase;
            margin: 0;
            color: #848e97;
        }

        &__btn-download {
            width: 394px;
            margin: 0 auto;
        }
        &__btn {
            padding: 20px 61px;
            @include font-Montserrat;
            font-weight: 700;
            font-size: 21px;
            line-height: 22px;
            color: #fff;
            background: $header-text-color;
            border: 2px solid transparent;
            border-radius: 40px;
            cursor: pointer;
            text-decoration: none;
        }

        &__btn:hover {
            background: #fff;
            border: 2px solid $header-text-color;
            color: $header-text-color;
            transition: 0.5s;
        }

        &__link-trial {
            margin-top: 42px;
            text-align: center;
            @include font-Montserrat;
            font-weight: 400;
            font-size: 14px;
            line-height: 15px;
            color: #848e97;
            cursor: pointer;
        }

        .hamburger {
            display: none;
        }

        .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: #f7f5f5;
        }
        .bar:first-child {
            width: 12px;
            margin-left: 13px;
        }
    }
}

// section editor

.editor {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    background: #ffffff;
    padding: 70px 90px;

    &__content {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-weight: 700;
        font-size: 54px;
        line-height: 54px;
        text-transform: uppercase;
        color: #635c73;
        margin: 35px 0;
    }

    &__text {
        font-weight: 400;
        font-size: 21px;
        line-height: 32px;
        text-align: center;
        color: #323232;
        width: 860px;
        margin: 15px 0;
    }

    &__github {
        display: flex;
        width: 400px;
        justify-content: space-between;
    }
}

.github {
    &-button {
        display: flex;
        color: grey;
        border: 1px solid #45444b;
        border-radius: 2px;
        vertical-align: middle;
        font-weight: 400;
    }

    &-btn {
        border-right: 1px solid #45444b;
        font-weight: 400px;
        font-size: 16px;
        padding: 0 6px;
        display: block;
        justify-content: space-between;
        align-items: center;
        background: #a7a4a4;
        color: #333238;
    }

    &-link {
        color: #333238;
        padding: 0 6px;
    }
}

// end section editor

//start section about-fork

.about-fork {
    background-image: url(../img/about_fork/about-fork-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 29px;

    &__title-text {
        @include font-Montserrat;
        font-weight: 700;
        font-size: 48px;
        line-height: 50px;
        text-align: center;
        color: #ffffff;
        padding-top: 108px;
    }

    &__content {
        margin: 80px 80px 118px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 111px;
    }

    &__content-info {
        width: 315px;
        height: 142px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__content-text {
        font-family: "Lato";
        font-style: italic;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #fff;
    }

    &__footer-text {
        width: 880px;
        margin: 0 auto 18px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #a291a5;
    }

    &__footer-line {
        border: 2px solid #645766;
        width: 780px;
    }
}

//end section about-fork



// start section features

.features {
    display: flex;
    width: 1380px;
    margin: 0 auto;
    background: #f4f4f4;

    &__left {
        padding: 100px 50px 70px 100px;
    }

    &__title-media{
        display: none;
    }

    &-item {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 536px;
        height: 110px;
        margin-bottom: 30px;
    }

    &-item-img {
        object-fit: contain;
    }

    &-item-content {
        max-width: 405px;
    }

    &-item-title {
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #323232;
        margin-bottom: 17px;
    }

    &-item-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #848e97;
        @include font-Montserrat;

    }

    &__right {
        padding-top: 95px;
    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 50px;
        color: #8d81ac;
        margin-bottom: 20px;
    }
}

// section pricing

.pricing{
    max-width: 1380px;
    margin: 0 auto;
    background-image: url(../img/pricing-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0 30px 0;


    &__title{
        @include font-Montserrat;
        font-weight: 700;
        font-size: 48px;
        line-height: 50px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 112px;

    }

    &__offer{
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

}

.offer{
    &__item{
        width: 257px;
        height: auto;
        background: #ffffff11;
        text-align: center;
        margin: 0 15px 36px 15px;
        padding-bottom: 36px;
    }

    &__title{
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #ffffff06;
        padding: 36px 30px;
    }

    &__price{
        font-weight: 400;
        font-size: 60px;
        line-height: 90px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 30px;
    }

    &__period{
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 20px 0 38px 0;
    }

    &__line{
        width: 60px;
        height: 5px;
        background: #8D81AC;
        border-style: none;
    }

    &__service{
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
        margin-top: 46px;
        height: 44px;
        @include font-Montserrat;
    }
    
    &__purchase{
        font-size: 15px;
        line-height: 15px;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #ffffff15;
        margin-top: 36px;
        padding: 13.5px 36px;
        border-radius: 20px;
    }

}

.offer__accent{
        width: 299px;
        height: 560px;
        background: #46304884;
        text-align: center;
        margin-bottom: 36px;
}


.offer__accent > h3{
    background: #00000011;
}

.offer__accent > h2{
    font-weight: 400;
    font-size: 82px;
    line-height: 90px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.offer__accent > button{
    font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #ffffff15;
        margin-top: 36px;
        padding: 18.5px 46px;
        border-radius: 20px;
}


// media queries 768px

@media screen and (min-width: 481px) and (max-width: 992px) {
    .main-section {
      max-width: 788px;
    }

    //section editor
    .editor {
      max-width: 768px;
      margin: auto;
      padding: 88px 0;

      &__content {
        max-width: 768px;
        margin: auto;
    }

    &__title {
        font-size: 42px;
        line-height: 42px;
        margin-bottom: 19px;
    }

    &__text {
        font-size: 21px;
        line-height: 32px;
        width: 690px;
        margin-bottom: 24px;
    }

    }

    // section features
    .features{
        max-width: 768px;
        margin: auto;
        padding: 88px 0;
        display: block;
        padding: 66px 0;
        background: rgba(0, 0, 0, 0.0001)
    
        &__left {
            padding: 62px 35px 0px 30px;
        }

        &__title-media{
            display: block;
            font-size: 42px;
            line-height: 42px;
            margin-bottom: 52px;
            text-align: center;
            color: #8d81ac;
            font-weight: 700;
            line-height: 44px;
            @include font-Montserrat;
        }
    
        &-item {
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            width: 722px;
        }
    

        &-item-content {
            max-width: 580px;
            margin-left: 24px;
        }
    
        &-item-title {
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 5px;
        }
    
        &-item-text {
            font-size: 14px;
            line-height: 21px;
    
        }
    
        &__right {
            padding-top: 40px;
            display: flex;
            justify-content: flex-end;
        }

        &__title{
            display: none;
        }
        &__img{
            float: right;
            width: 700px;
            height: 520px;
        }
    
    }

    // section pricing

    .pricing{
        max-width: 768px;
        margin: 0 auto;
        padding: 25px 0 94px 0;

        &__title{
            font-size: 42px;
            line-height: 44px;
            margin-bottom: 40px;
    
        }
    
        &__offer{
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            align-items: center;
            justify-content: center;
        }
    }
}



// media queries 320px

@media screen and (min-width: 320px) and (max-width: 480px) {
    .main-section {
      max-width: 340px;
    }

        //section editor
        .editor {
            max-width: 320px;
            margin: auto;
            padding: 44px 0;
      
            &__content {
              max-width: 320px;
              margin: 0 auto;
          }
      
          &__title {
            font-size: 26px;
            line-height: 28px;
            margin-bottom: 27px;
            text-align: center;
          }
      
          &__text {
              font-size: 14px;
              line-height: 20px;
              width: 276px;
              margin-bottom: 36px;
          }

          &__github{
            width: 290px;
            flex-wrap: wrap;
            justify-content: center;
          }

          }

          .github-button{
            margin: 20px 5px;
        }

          
      
          // section features
          .features{
              max-width: 320px;
              margin: auto;
              padding: 32px 0;
              display: block;
              background: rgba(0, 0, 0, 0.0001);
              padding-top: 88px;
          
              &__left {
                  padding: 0 25px;
              }
      
              &__title-media{
                  display: block;
                  font-size: 32px;
                  line-height: 38px;
                  text-align: center;
                  color: #8d81ac;
                  font-weight: 700;
                  line-height: 44px;
                  @include font-Montserrat;
              }
          
              &-item {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: space-around;
                  width: 270px;
                  height: auto;
                  margin-top: 37px;
              }
          
      
              &-item-content {
                  max-width: 270px;
                  margin-top: 20px;
              }
          
              &-item-title {
                  font-size: 16px;
                  line-height: 16px;
                  margin-bottom: 14px;
              }
          
              &-item-text {
                  font-size: 14px;
                  line-height: 21px;
                  text-align: center;
              }
          
              &__right {
                width: 320px;
                height: 100%; 
                overflow: hidden;
                position: relative;
              }
      
              &__title{
                  display: none;
              }
              &__img{
                max-width: 440px;
                height: 380px;
                padding-left: 10px;
              }
          
          }
      
          // section pricing
      
          .pricing{
              max-width: 320px;
              margin: 0 auto;
              padding: 2px 0 4px 0;
      
              &__title{
                font-size: 28px;
                line-height: 42px;
              }
          
              &__offer{
                  display: flex;
                  flex-wrap: wrap;
                  margin: 0 auto;
                  align-items: center;
                  justify-content: center;
              }
          }

}